body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}
#navbar{
    background-color: rgb(187, 187, 187);
}
#amarela{
    background-color: yellow;
}
img{
    width: 100%;
}

.flex{
    display: flex;
}
#buttons{
    background-color: rgb(167, 167, 167);
}

#navigation {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
#navigation td, #navigation th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
#navigation tr:nth-child(even){background-color: #f2f2f2;}
  
#navigation tr:hover {background-color: #ddd;}
  
#navigation th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #a5a5a5;
    color: white;
}